<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 导入资源文件 -->
	<context:property-placeholder location="classpath:db.properties" />
	<!-- 配置c3p0数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="user" value="${jdbc.user}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<property name="driverClass" value="${jdbc.driverClass}"></property>
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
		<property name="initialPoolSize" value="${jdbc.initPoolSize}"></property>
		<property name="maxPoolSize" value="${jdbc.maxPoolSize}"></property>
	</bean>

	<!-- 配置sessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:advice id="tx" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="add*" read-only="false" />
			<tx:method name="save*" read-only="false" />
			<tx:method name="delete*" read-only="false" />
			<tx:method name="update*" read-only="false" />
			<tx:method name="select*" read-only="false" />
		</tx:attributes>
	</tx:advice>

	<!-- 配置spring声明式事务 -->
	<aop:config>
		<aop:pointcut expression="execution(* cn.internship.service.*.*(..))"
			id="perform" />
		<aop:advisor advice-ref="tx" pointcut-ref="perform" />
	</aop:config>

	<!-- 配置系统日志 -->
	<bean id="systemLog" class="cn.internship.utils.SyslogUtils">
		<property name="syslogService" ref="syslogService" />
	</bean>
	<aop:config>
		<aop:aspect ref="systemLog">
			<aop:after method="afterReturnLog" pointcut="execution(* cn.internship.service.impl.*.save*(..)) and !bean(syslogService)"/>
			<aop:after method="afterReturnLog" pointcut="execution(* cn.internship.service.impl.*.delete*(..)) and !bean(syslogService)"/>
			<aop:after method="afterReturnLog" pointcut="execution(* cn.internship.service.impl.*.update*(..)) and !bean(syslogService)"/>
			<aop:after method="afterReturnLog" pointcut="execution(* cn.internship.service.impl.*.login*(..)) and !bean(syslogService)"/>
			<aop:after method="afterReturnLog" pointcut="execution(* cn.internship.service.impl.*.logout*(..)) and !bean(syslogService)"/>
		</aop:aspect>
	</aop:config>

	<!-- *******************************非系统配置******************************* -->

	<!-- 验证码 -->
	<bean id="verifyCodeAction" class="cn.internship.action.VerifyCodeAction"></bean>
	<!-- end -->
	<!-- 登陆 -->
	<bean id="loginAction" class="cn.internship.action.LoginAction" scope="prototype">
		<property name="studentService" ref="studentService" />
	</bean>
	<!-- end -->
	<!-- 学生修改密码页面 -->
	<bean id="reset-pwd" class="cn.internship.action.ResetPwdAction" scope="prototype">
		<property name="userService" ref="userService"/>
	</bean>
	<!-- end -->

	<!-- 学生相关配置 -->
	<bean id="studentDao" class="cn.internship.dao.impl.StudentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="studentService" class="cn.internship.service.impl.StudentServiceImpl">
		<property name="studentDao" ref="studentDao" />
	</bean>
	<bean id="studentAction" class="cn.internship.action.StudentAction">
		<property name="studentService" ref="studentService" />
	</bean>
	<!-- end -->
	
	<!-- 系统日志相关配置 -->
	<bean id="syslogDao" class="cn.internship.dao.impl.SyslogDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="syslogService" class="cn.internship.service.impl.SyslogServiceImpl">
		<property name="syslogDao" ref="syslogDao" />
	</bean>
	<bean id="syslogAction" class="cn.internship.action.SyslogAction">
		<property name="syslogService" ref="syslogService" />
		<property name="studentService" ref="studentService" />
	</bean>
	<!-- end -->
	

</beans>