<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 导入资源文件 -->
	<context:property-placeholder location="classpath:db.properties" />

	<!-- 配置c3p0数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="user" value="${jdbc.user}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<property name="driverClass" value="${jdbc.driverClass}"></property>
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
		<property name="initialPoolSize" value="${jdbc.initPoolSize}"></property>
		<property name="maxPoolSize" value="${jdbc.maxPoolSize}"></property>
	</bean>


	<!-- 配置sessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:advice id="tx" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" read-only="false" />
			<tx:method name="delete*" read-only="false" />
			<tx:method name="update*" read-only="false" />
			<tx:method name="select*" read-only="false" />
		</tx:attributes>
	</tx:advice>

	<!-- 配置spring声明式事务 -->
	<aop:config>
		<aop:pointcut expression="execution(* cn.internship.test.*.*(..))"
			id="perform" />
		<aop:advisor advice-ref="tx" pointcut-ref="perform" />
	</aop:config>

	<!-- 测试使用 -->
	<bean id="index" class="cn.internship.action.IndexAction"></bean>
	<bean id="stu-info" class="cn.internship.action.StuInfoAction"></bean>
	<bean id="weekly-plan" class="cn.internship.action.StuWeeklyPlanAction"></bean>
	<bean id="practical-reports" class="cn.internship.action.StuPracticalReportsAction"></bean>
	<bean id="internship-reports" class="cn.internship.action.StuInternshipReportsAction"></bean>
	<!-- end -->
</beans>