<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- 配置hibernate的基本属性 -->
		<!-- <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/internship</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		 -->
		
		<!-- 方言 -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<!-- 是否显示及格式化sql -->
		<property name="hibernate.show_sql">false</property>
		<!-- <property name="hibernate.format_sql">true</property> -->
		<!-- 生成数据表的策略 -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		
		<!-- 实体层映射到数据库的类 -->
		<mapping class="cn.internship.entity.Student" />
		<mapping class="cn.internship.entity.User"/>
		<mapping class="cn.internship.entity.PracticalReports"/>
	</session-factory>
</hibernate-configuration>