/*公用样式*/
* {
    margin: 0;
    padding: 0;
}
body {
    font: 14px "Microsoft YaHei";
    width: 100%;
    height: 100%;
    background-color: #e5e8e9;
    position: relative;
}
ul {
    list-style: none;
}
a, a:hover {
    text-decoration: none;
}
img {
    border: none;
    display: block;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.none {
    display: none;
}
button, a {
    outline: none!important;
}
textarea {
    resize: none;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before, .clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}
/*checkbox*/
.checkbox-unchecked {
    background: url(../images/login/checkbox-unchecked.png) 0 1px no-repeat;
    height: 19px;
}
.checkbox-checked {
    background: url(../images/login/checkbox-checked.png) 0 1px no-repeat;
    height: 19px;
}
/*radio*/
.radio-unchecked {
    background: url(../images/login/radio-unchecked.png) 0 1px no-repeat;
    height: 19px;
}
.radio-checked {
    background: url(../images/login/radio-checked.png) 0 1px no-repeat;
    height: 19px;
}
/*nav*/
.nav-container {
    height: 50px;
    line-height: 50px;
    background-color: #739697;
    color: #fff;
    font-size: 14px;

}
.nav-title {
    /*width: 209px;*/
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    background-color: #11858f;
    text-align: center;
    color: #fff;
}
.nav-title:hover {
    color: #fff;
}
.nav-right {
    margin-right: 20px;
}
.logout {
    color: #fff;
    margin-left: 38px;
    background: url(../images/index/logout.png) 0 4px no-repeat;
    height: 11px;
}
.logout:hover {
    color: #fff;
}
.logout span {
    margin-left: 18px;
}
/*sidebar*/
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 46px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #4a5562;
        /*width: 209px;*/
    }
}
.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 14px;
    color: #839099;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #2a303a;
}
.nav>li>a:focus,.nav>li>a:hover {
    text-decoration: none;
    background-color: #2a303a;
    color: #fff;
}
.nav li a span {
    margin-right: 18px;
    margin-left: 17px;
}
.reset-pwd-ul {
    position: absolute;
    bottom: 10px;
    width: 100%;
}
/*footer*/
.copyright {
    height: 50px;
    line-height: 50px;
    background-color: #f9f9f9;
    color: #526069;
    font-size: 12px;
    padding-left: 17.8%;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.main {
    padding-top: 66px;
}
.submit-error {
    height: 23px;
    color:#F66;
    font-size: 13px;
}