.rposotion{
	float:right;
	margin-top: -58px;
	cursor: pointer;
}
th{
	text-align:center;
}
.table-striped>tbody,
.table-striped>thead{
	font-size:13px;
	color:#797979;
}
.table-striped>thead{
	border-top:1px solid #ddd;
}
.table-striped .rborder{
	border-right:1px solid #ddd;
}
.table-striped>tbody .position{
	text-align:center;
}
.plus{
	color:#2c9f94;
	font-size:28px;
	cursor:pointer;
	z-index:1;
}
.do{
	color:#4bbbf4;
	display:block;
	font-size:14px;
	margin-left:auto;
	margin-top:5px;
	text-align:center;
}
.up{
	color:#6777c2;
	display:block;
	font-size:14px;
	margin-left:auto;
	margin-top:5px;
	text-align:center;
}

.form-control{
	padding:0px;
	height:30px;
}
.uploadfile{
	position:absolute;
	opacity:0;
	top:0px;
	left:0px;
	height:14px;
	width:14px;
	z-index:2;
}
.sidebar {
	padding: 20px;
}