/*index*/
.carousel-inner img {
    width: 100%;
}
.panel {
    margin-top: 16px;
}
.panel-notice .panel-heading {
    background-color: #6676c2;
    color: #fff;
}
.panel-job .panel-heading {
    background-color: #4bbbf4;
    color: #fff;
}
.panel-title-more {
    margin-top: -17px;
    font-size: 14px;
}
.panel-title-more:hover {
    color: #555;
}
.list-group-item {
    font-size: 14px;
}
.copyright {
    bottom: inherit;
}
.panel {
    background-color: initial;
}