/******new********/
body{
	background-color:rgb(223,226,227);
}
.myPanel{
	padding:20px 20px;
	color: #797979;
}
.panel-head{
	border-bottom:1px solid rgb(217,217,217);
	padding-bottom:15px;
	font-size: 18px;
}



.panel-body{
	padding-bottom:10px;
}


.myBu{
	background:rgb(44,159,148);
	border:none;
	color:white;
	padding:8px 7px;
	float:right;
}

.myPi{
	background:rgb(83,101,185);
	border:none;
	color:white;
	padding:5px 10px;
	float:right;
	border-radius:2px;
	margin-left:5px;
}

.myPu{
	background:white;
	border:none;
	color:red;
	padding:0.5px 0.5px;
	margin-left:30px;
	border-radius:2px;
}

#the{
	background-color: #F3F5F6;
	font-size: 14px;
	color: #797979;
}
.weekReport{
    padding-top:60px;
}


.weekReport table tr:nth-child(odd){
    background:white;
}
.weekReport table tr:nth-child(even){
    background:#F4F4F4;
}
.weekReport table td,th{
	text-align:center;
}
.weekReport table td:nth-child(2),th:nth-child(2){
    border-left:1px solid rgb(232,232,232);
    border-right:1px solid rgb(232,232,232);
}
.weekReport table td:nth-child(3),th:nth-child(3){
    border-left:1px solid rgb(232,232,232);
    border-right:1px solid rgb(232,232,232);
}
.weekReport table td:nth-child(4),th:nth-child(4){
    border-left:1px solid rgb(232,232,232);
    border-right:1px solid rgb(232,232,232);
}
.weekReport table td:nth-child(5),th:nth-child(5){
    border-left:1px solid rgb(232,232,232);
    border-right:1px solid rgb(232,232,232);
}

.Gl{
	margin-left:30px;
	color:red;
}
.Gl1{
	color:#11aaf1;
}
.table>tbody>tr>td {
    font-size: 14px;
	color: #797979;
}
.panel-body {
	padding: 15px 0;
}
.rplus {
	float: right;
	font-size: 28px;
	color: #2c9f94;
	text-align: center;
}
.spanbtn {
	width: 85px;
	background-color: #5365b9;
	color: white;
	text-align: center;
	font-size: 12px;
	float: right;
	margin-left: 10px;
	padding: 8px;
	border-radius: 3px;
	line-height: 1.1;
}
.table>thead>tr>th {
	 border-bottom: none;
}
.weekReport table tr:nth-child(even) {
    background: #F3F5F6;
}
.table-striped>tbody,
.table-striped>thead{
	font-size:13px;
	color:#797979;
	text-align:center;
}