/******new********/
body{
	background-color:rgb(223,226,227);
}
.myPanel{
	padding:20px 20px;
	color: #797979;
}
.panel-head{
	border-bottom:3px solid rgb(217,217,217);
	padding-bottom:15px;
}

.panel-body{
	padding-bottom:10px;
	font-size:14px;
}

.practiceRerort{
	padding-top:10px;
}
.practiceRerort .panel-body p{
	float:left;
	width:80%;
}

.myBu{
	background:rgb(44,159,148);
	border:none;
	color:white;
	padding:5px 10px;
	float:right;
	border-radius:2px;
}

.myPu{
	background:white;
	border:none;
	color:red;
	padding:0.5px 0.5px;
	margin-left:30px;
	border-radius:2px;
}

#the{
	background:#F4F4F4;
	font-size: 14px;
	color: #797979;
}
.weekReport{
    padding-top:10px;
}
.weekReport table tr:nth-child(odd){
    background:white;
}
.weekReport table tr:nth-child(even){
    background:#F4F4F4;
}
.weekReport table td,th{
	text-align:center;
}
.weekReport table td:nth-child(2),th:nth-child(2){
    border-left:1px solid rgb(232,232,232);
    border-right:1px solid rgb(232,232,232);
}

.Gl{
	margin-left:30px;
	color:red;
}
.Gl1{
	color:rgb(57,134,243);
}
.table>tbody>tr>td {
    font-size: 14px;
}
