.mymain{
	padding-top:69px;
	padding-left:0px;
}
.mytab{
	padding-left:1px;
	z-index:2;

}
.mytab>li{
	
}
.mypencil{
	color:#11aaf1;
	padding:5px 10px;
	border-radius:2px;
}

.mytrash{
	border:none;
	color:red;
	padding:0.5px 0.5px;
	margin-left:30px;
	border-radius:2px;
}
.rposotion{
	float:right;	
}
th{
	text-align:center;
}
.table-striped>tbody,
.table-striped>thead{
	font-size:13px;
	color:#797979;
	text-align:center;
}
.table-striped>thead{
	border-top:1px solid #ddd;
}
.table-striped .rborder{
	border-right:1px solid #ddd;
}

.thin-width{
	width:20%;
}
.table-striped>tbody>tr .thin-width,
.table-striped>thead>tr .thin-width {	
	border-right:0;
}
.table-bordered.lborder{
	border-left:none;
}
.nav.nav-tabs{
	border-bottom:0;
	z-index:1;
}
.nav.nav-tabs.profile-tabs >li >a{
	border:none;
	font-size:16px;
	padding:15px 30px;
	color:#797979;
	background:#eeeeee;
	
	
}
.nav.nav-tabs.profile-tabs >li >a.first{
	border-top:4px solid #6676c2;

}
.nav.nav-tabs.profile-tabs >li >a.second{
	border-top:4px solid #4bbbf4;
}
.nav.nav-tabs.profile-tabs >li >a.third{
	border-top:4px solid #1a837a;
}
.nav.nav-tabs >li.active >a{
	background:#ffffff;
}
.p-0{
	padding:0!important;
	
}
.rposotion{
	float:right;
	display:inline;
	line-height:1.1;
}

.rposotion label{
	width:55px;
	height:34px;
	background-color:#2c9f94;

}
.plus{
	font-size:34px;
	color:#2c9f94;
	text-align:center;
	line-height:1.1;

}
.panel{
	border-top-left-radius :0px;
	border-top:1px solid #ffffff;

}

.spanbtn{	
	width:85px;
	background-color:#5365b9;
	color:white;
	text-align:center;
	font-size:12px;
	float:right;
	margin-left:10px;
	padding:8px;
	border-radius:3px;
	line-height:1.1;
}
.rplus{
	float:right;
	font-size:31px;
	color:#2c9f94;
	text-align:center;
	line-height:1.1;
}
.form-group input,
.form-group select{
	width:80%;
}
.sidebar {
	padding: 20px;
}