.panel-notice{
	border-top:3px solid #6676c2 ;
	height:80%;
}
.panel-notice .panel-heading,
.panel-job .panel-heading{
	background-color:#fff;
	border-bottom:2px solid #DDDDDD;
	color:#797979;
	font-size:16px;
}
.panel-job{
	border-top:3px solid #4bbbf4 ;
	height:80%
}

.table-striped>tbody{
	font-size:14px;
	color:#797979;
}


/* Timeline-2 */
.timeline-2 {
  position: relative;
  border-left: 2px solid #14082d;
}

.time-item {
  position: relative;
  padding-bottom: 1px;
  border-color: #dee5e7;
}

.time-item:before, .time-item-item:after {
  display: table;
  content: " ";
}

.timeline-2 .time-item:after, .time-item:after {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 5px;
  width: 14px;
  height: 14px;
  margin-left: -8px;
  background-color: #fff;
  border: 2px solid #14082d;
  border-radius: 10px;
  content: '';
}

.item-info {
  margin-left: 15px;
  /*margin-bottom: 15px;*/
}
.copyright {
    bottom: inherit;
}
.panel .panel-body p {
  margin: 7px 0;
  color: #797979;
}
.text-muted {
  margin-top: 3px;
}
.panel-title {
  font-size: 16px;
}
.sidebar {
  padding: 20px;
}